.game-container {
  color: white;
  text-align: center;
  padding: 20px;
}

.game-area {
  width: 750px;
  max-width: 95vw;
  height: 600px;

  margin: 20px auto;

  position: relative;

  border: 3px solid white;
  border-radius: 15px;

  overflow: hidden;

  background: radial-gradient(
    circle at center,
    #0b2a5a,
    #050b1a
  );
}

.ship {
  position: absolute;
  bottom: 20px;

  font-size: 50px;

  transition: left 0.08s linear;
}

.asteroid {
  position: absolute;

  width: 60px;
  height: 60px;

  border-radius: 50%;

  background: #6b6b6b;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 22px;
  font-weight: bold;

  border: 2px solid white;

  box-shadow: 0 0 12px rgba(255,255,255,.25);
}

.shot {
  position: absolute;

  width: 5px;
  height: 20px;

  background: red;

  border-radius: 3px;

  box-shadow: 0 0 8px red;
}

.selected {
  margin-top: 10px;
  font-size: 18px;
}

.erro-box {
  margin-top: 10px;

  color: #ff8a8a;
  font-weight: bold;
}

.result-box {
  margin-top: 20px;
}

.result-box button {
  padding: 12px 24px;
  border: none;
  border-radius: 10px;

  cursor: pointer;

  font-size: 16px;
  font-weight: bold;
}