.nova-tarefa {
  min-height: 100vh;
  background: #090021;
  padding: 30px;
  color: white;
}

.nova-tarefa h1 {
  text-align: center;
  font-size: 40px;
}

.nova-tarefa h1 span {
  color: #00d4ff;
}

.nova-tarefa p {
  text-align: center;
  margin-bottom: 30px;
  color: #d8d8d8;
}

.form-card {
  border: 2px solid #00d4ff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 0 20px #00d4ff80;
}

.form-card label {
  display: block;
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 18px;
}

.form-card input,
.form-card textarea,
.form-card select {
  width: 100%;
  background: #2a214b;
  border: none;
  border-radius: 12px;
  padding: 14px;
  color: white;
  font-size: 16px;
}

.form-card textarea {
  resize: none;
  height: 100px;
}

.linha {
  display: flex;
  gap: 10px;
}

.arquivo {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #2a214b;
  color: white;
}

.prioridade {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.baixa,
.alta {
  flex: 1;
  border: none;
  border-radius: 10px;
  padding: 12px;
  color: white;
  font-size: 16px;
}

.baixa {
  background: green;
}

.alta {
  background: red;
}

.criar {
  margin-top: 30px;
  width: 100%;
  padding: 18px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(90deg,#00e1ff,#38a9ff);
  font-size: 20px;
  font-weight: bold;
}